# Server Environment Variables
PORT=5050
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/workflow_engine
REDIS_URL=rediss://default:<password>@<host>:6379
CLIENT_URL=https://your-app.vercel.app
